<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PathTraderFiles>g:\GitHub\DayzTraderCreater\DayzTraderBuilder\bin\Debug\IN\</PathTraderFiles>
  <FilesList>
    <File>TraderCurrency.txt</File>
    <File>TraderSupermarket.txt</File>
    <File>Trader1000trifles.txt</File>
    <File>TraderGunShop.txt</File>
    <File>TraderAmmunition.txt</File>
    <File>TraderClothingStore.txt</File>
    <File>TraderAutoRepairShop.txt</File>
    <File>TraderMilitaryClothingStore.txt</File>
    <File>TraderHuntersHut.txt</File>
    <File>TraderBlackTrader.txt</File>
    <File>TraderAircraftMerchant.txt</File>
    <File>TraderBlackMechanic.txt</File> 
  </FilesList>
  <MainFileName>TraderConfig.txt</MainFileName>
  <PathCopyTo></PathCopyTo>
</configuration>